head body main {
        height: 100vh;
        background-color: #000;
        background-image: url('back.jpg');
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
         
        
        
     }
     .produtos-main {
        width: 500px;
        padding: 100px;
        margin: auto;
        border: 1 px ;
    
     }