@charset "UTF-8";
* {
    font-family: Arial;
}
     .produtos-main {
        width: 100%;
        padding: 100px;
        background-color: cadetblue;
        margin: auto;
        border: 1 px ;
        text-align: justify;
        display: table-cell;
        vertical-align: middle;

        opacity: 0.5;
       
    
     }
